.cardProdutoMenu {
  width: 38vw;
  min-width: 450px;

  border: 0;
  border-radius: 20px;
  margin: 0.5vw;
  padding: 0;

  display: flex;
  

  background-color: #312b21;
  color: #ede1d1;
}
.imagemCardProduto {
  width: 40%;
  height: 90%;

  border: 0;
  border-radius: 15pt;
  margin: 10pt;
  padding: 0;
}
.menuCardPageMenu{
  height: 100%;
  min-height: 100vh;
  width: 100%;
  min-width: 80vw;

  padding-left: 230pt;
  
  display: flex;
  flex-flow: row wrap;
  background-color: bisque;
}
.botaoComprar{
  width: 5%;
  max-width: 300pt;
  min-width: 100pt;
  height: 7%;
  min-height: 12pt;

  border: none;
  color: #fff;
  background-image: linear-gradient(30deg, #5D2410,  #e05b22   );
  border-radius: 10px;
  background-size: 100% auto;
  font-family: inherit;
  font-size: 20px;
  padding: 0.6em 1.5em;
  margin: 2%;
}
.quantidadeProduto{
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 50%;
  box-sizing: border-box; /* Garante que o padding não aumente o tamanho total */
  transition: border-color 0.3s ease-in-out; /* Efeito de transição suave para a borda */
}
.apresentacaoPreco{
  height: 100pt;
  width: 100pt;
  background-color: #ccc;
}