.cardProdutoMenu {
  width: 38vw;
  min-width: 450px;

  border: 0;
  border-radius: 20px;
  margin: 0.5vw;
  padding: 0;

  display: flex;

  background-color: #312b21;
  color: #ede1d1;
}
.imagemCardProduto {
  width: 40%;
  height: 90%;

  border: 0;
  border-radius: 15pt;
  margin: 10pt;
  padding: 0;
}
.menuCardPageMenu{
  height: 100%;
  min-height: 100vh;
  width: 100%;
  min-width: 80vw;

  padding-left: 230pt;
  
  display: flex;
  flex-flow: row wrap;
  background-color: bisque;
}