.pageComandas{
    height: auto;
    min-height: 100vh;
    width: 100%;
    min-width: 100vw;

    background-color: bisque;
    display: flex;
    flex-direction: row;
}

.barraLateralPageComandas{
    height: 100%;
    min-height: 100vh;
    width: 20%;
    min-width: 20vw;
  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #692a12;
}
.inputComanda{
    padding: 0;
    height: 5vh;
    width: 80%;
  
    border-radius: 5pt;
    border: solid;
}
.formularioPageComanda{
    height: 100%;
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.labelAddproduto{
    color: #f2f2f2;
}
table {
    width: 100%;
    border-collapse: collapse;
    font-family: Arial, sans-serif;
    margin-top: 20px;
  }
  
  /* Estilo para o cabeçalho da tabela */
  thead {
    background-color: #f2f2f2;
  }
  
  /* Estilo para as células do cabeçalho */
  th {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  /* Estilo para as células da tabela */
  td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
  }
  
  /* Estilo alternativo para linhas */
  tbody tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  /* Estilo para o texto dentro das células */
  td, th {
    font-size: 14px;
    color: #333;
  }
  
  /* Estilo para a primeira coluna */
  td:first-child, th:first-child {
    padding-left: 20px;
  }